<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body class="background-cont">
    <h1 class="heading">Face Recognition App</h1>
    <form
      action="/register"
      method="post"
      enctype="multipart/form-data"
      class="register-form"
    >
      <label for="fileRegister" class="uploadRegister"
        >Upload an image to Register:</label
      >
      <input
        type="file"
        name="file"
        id="fileRegister"
        class="fileUploadInput"
      />
      <button type="submit" class="registerBtn">Register</button>
    </form>
    <br />
    <form
      action="/recognize"
      method="post"
      enctype="multipart/form-data"
      class="register-form"
    >
      <label for="file" class="uploadRegister"
        >Upload an image to Recognize:</label
      >
      <input type="file" name="file" id="file" class="fileUploadInput" />
      <button type="submit" class="registerBtn">Recognize</button>
    </form>
    <h2
      style="
        color: blue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      Recognition Result:
    </h2>
    <p>Wait for the result</p>
    <p class="recognition">{{ recognition_message }}</p>
    <div style="display: flex; flex-direction: row; justify-content: center">
      {% if recognize_img %}
      <img
        src="{{url_for('static',filename=recognize_img)}}"
        alt="Recognize image"
      />
      {% endif %} {%if register_img %}
      <img
        src="{{url_for('static',filename=register_img)}}"
        alt="Registered image"
        style="margin-left: 20px"
      />
      {% endif %}
    </div>
  </body>
</html>
